* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma;
  background-color: rgba(0, 0, 0, 0.418);
}

a {
  text-decoration: none;
}

main {
  width: 90%;
  margin: 0 auto;
}

section {
  margin: 2rem 0;
  background-color: white;
}

.category_content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  overflow-y: hidden;
}
.category_content .quick_left {
  padding-left: 1rem;
}
.category_content .quick_left span {
  font-size: 1.5rem;
  font-weight: 500;
}
.category_content h1 {
  color: rgba(0, 0, 0, 0.87);
}

.items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 1rem 0;
}
.items_container .item_pdt {
  height: 23rem;
  padding: 1rem;
  border-radius: 5px;
}
.items_container .item_pdt .item_pdt_img {
  width: 100%;
  height: 14rem;
  background-color: #e5e5e5;
}
.items_container .item_pdt .item_pdt_img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.items_container .item_pdt .item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.items_container .item_pdt .item_price span {
  text-decoration: line-through;
  font-weight: 200;
}

.search {
  width: 55%;
  background-color: white;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 10px;
  border: 2px solid blue;
}
@media (max-width: 880px) {
  .search {
    display: none;
  }
}
.search i {
  color: rgba(0, 80, 154, 0.8823529412);
}
.search input {
  width: 90%;
  outline: 0;
  border: 0;
  background: none;
  font-size: 1rem;
}
.search input::-moz-placeholder {
  color: rgba(0, 80, 154, 0.8823529412);
  font-weight: 100;
}
.search input::placeholder {
  color: rgba(0, 80, 154, 0.8823529412);
  font-weight: 100;
}

.sidebar_and_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  transform: translateX(100%);
  transition: all 0.05s;
  z-index: 9999;
}

.visible {
  transform: translateX(0);
}

.overlay {
  width: calc(100% - 300px);
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.no-scroll {
  overflow: hidden;
}

header {
  background-color: #f68b1e;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 2;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}
header nav i {
  color: white;
  font-size: 1.3rem;
}
header nav .nav_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 500;
}
@media (max-width: 590px) {
  header nav .nav_left {
    gap: 0;
    justify-content: space-between;
  }
}
header nav .nav_left .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
header nav .nav_left .logo img {
  width: 50px;
  border-radius: 50%;
}
header nav .nav_left .logo .atsc {
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
}
header nav .search {
  width: 55%;
  border: none;
  background-color: white;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 10px;
}
@media (max-width: 880px) {
  header nav .search {
    display: none;
  }
}
header nav .search i {
  color: rgba(0, 0, 0, 0.644);
}
header nav .search input {
  width: 90%;
  outline: 0;
  border: 0;
  background: none;
  font-size: 1rem;
  color: black;
}
header nav .search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.644);
  font-weight: 100;
}
header nav .search input::placeholder {
  color: rgba(0, 0, 0, 0.644);
  font-weight: 100;
}
header nav .nav_right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header nav .nav_right a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.1rem;
  gap: 0.5rem;
  font-weight: 500;
}
@media (max-width: 760px) {
  header nav .nav_right a {
    display: none;
  }
}
header nav .nav_right .sign_in span {
  display: block;
  font-weight: 300;
}
header nav .nav_right .sign_in .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav_right .cart_link {
  position: relative;
}
header nav .nav_right .cart_link .total_cart {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 7px;
  background-color: #10a2af;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -14px;
  left: -11px;
}
header nav .nav_right .cart_link .total_cart i {
  margin: auto;
}
header nav .nav_right .menu_icon {
  display: block;
  color: white;
  font-size: 1.1rem;
  display: none;
  background: none;
  border: none;
}
@media (max-width: 760px) {
  header nav .nav_right .menu_icon {
    display: block;
  }
}

.call_them {
  background-color: #fef100;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 1.5rem 0;
  margin-top: 6.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  gap: 2rem;
}
@media (max-width: 680px) {
  .call_them {
    display: block;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.call_them .tag {
  width: 280px;
}
.call_them .tag img {
  width: 100%;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.call_them .tag .animated-image {
  animation: rotate 0.2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3deg);
  }
}
.call_them .tag_text {
  width: 40%;
  text-align: center;
}
@media (max-width: 680px) {
  .call_them .tag_text {
    width: 80%;
  }
}
.call_them .tag_text h1 {
  font-size: 2.3rem;
}
.call_them .tag_text p {
  font-size: 1.2rem;
  padding: 0.5rem;
}
.call_them .tag_text .Shop_now {
  border: 0;
  outline: 0;
  background-color: white;
  border-radius: 20px;
  font-size: 1.2rem;
  padding: 0.5em;
  cursor: pointer;
}

.category .category_content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  overflow-y: hidden;
  background-color: #f68b1e;
  padding: 1rem 0.3rem;
}
.category .category_content h1 {
  color: rgba(0, 0, 0, 0.87);
  padding-left: 2rem;
}
.category .scrollable {
  position: relative;
  /* Scroll buttons */
}
.category .scrollable .Category_pdt {
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  gap: 1rem;
}
.category .scrollable .Category_pdt .cat_pdt {
  width: 15rem;
  height: 15rem;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  padding: 1rem;
  border-radius: 10px;
}
.category .scrollable .Category_pdt .cat_pdt .pdt_img {
  width: 100%;
  height: 90%;
}
.category .scrollable .Category_pdt .cat_pdt .pdt_img img {
  width: 10rem;
}
.category .scrollable .Category_pdt .cat_pdt p {
  text-align: center;
}
.category .scrollable .scroll-container {
  display: flex; /* Arrange items in a row */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  scroll-behavior: smooth; /* Enable smooth scrolling */
  padding: 10px; /* Optional: Add padding for aesthetics */
  gap: 10px; /* Optional: Add space between items */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.category .scrollable .scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
.category .scrollable .scroll-button {
  background: none;
  color: rgba(0, 0, 0, 0.685);
  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}
.category .scrollable .scroll-button i {
  font-size: 3rem;
  font-weight: 400;
}
.category .scrollable .scroll-button.left {
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.category .scrollable .scroll-button.right {
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
.category .scrollable .scroll-button:hover {
  background: wheat;
}

.quick_sales .quik {
  background-color: #f68b1e;
  padding: 1rem 0.5rem;
}
.quick_sales .quik .quick_left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.quick_sales .quik .quick_left .quktext {
  font-size: 1.3rem;
  font-weight: 500;
}
.quick_sales .quik .bxs-purchase-tag {
  color: #fef100;
  font-size: 2rem;
}
.quick_sales .items_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.quick_sales .items_container .item_pdt {
  height: 23rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  scale: 1.01;
}
.quick_sales .items_container .item_pdt .item_pdt_img {
  width: 100%;
  height: 14rem;
  background-color: #e5e5e5;
}
.quick_sales .items_container .item_pdt .item_pdt_img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.quick_sales .items_container .item_pdt .item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.quick_sales .items_container .item_pdt:hover {
  scale: 1.01;
}

.featured_pdts .category_content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  overflow-y: hidden;
  background-color: #f68b1e;
  padding: 1rem 0.5rem;
}
.featured_pdts .category_content .quick_left {
  padding-left: 1rem;
}
.featured_pdts .category_content .quick_left span {
  font-size: 1.5rem;
  font-weight: 500;
}
.featured_pdts .category_content .quick_left .quktext {
  padding: 0 1rem;
  border-right: 3px solid black;
}
.featured_pdts .featuredpdt_container .item_pdt {
  height: 26rem;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.1s;
}
.featured_pdts .featuredpdt_container .item_pdt .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  gap: 3rem;
}
.featured_pdts .featuredpdt_container .item_pdt .rating .starts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.featured_pdts .featuredpdt_container .item_pdt .rating .starts i {
  font-size: 1.5rem;
  color: #f68b1e;
}
.featured_pdts .featuredpdt_container .item_pdt .rating .discount {
  background-color: #fef3e9;
  width: 40px;
  height: 30px;
  border-radius: 2px;
  color: rgba(255, 0, 0, 0.822);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
  font-size: 0.9rem;
}
.featured_pdts .featuredpdt_container .item_pdt .item_price {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.featured_pdts .featuredpdt_container .item_pdt .item_price span {
  text-decoration: line-through;
  font-weight: 200;
}
.featured_pdts .featuredpdt_container .item_pdt .center_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}
.featured_pdts .featuredpdt_container .item_pdt .center_btn .add_to_cart {
  border: 0;
  outline: 0;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  background-color: #f68b1e;
  width: 80%;
  opacity: 0;
  cursor: pointer;
}
@media (max-width: 900px) {
  .featured_pdts .featuredpdt_container .item_pdt .center_btn .add_to_cart {
    opacity: 1;
  }
}
.featured_pdts .featuredpdt_container .item_pdt:hover,
.featured_pdts .featuredpdt_container .item_pdt:focus {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  scale: 1.01;
}
.featured_pdts .featuredpdt_container .item_pdt:hover .add_to_cart,
.featured_pdts .featuredpdt_container .item_pdt:focus .add_to_cart {
  opacity: 1;
}

footer {
  background-color: #313133;
}
footer .back_to_top {
  background-color: #3b3b3b;
  text-align: center;
}
footer .back_to_top .backp {
  padding: 1rem 0;
  background: 0;
  border: 0;
  outline: 0;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}
footer .back_to_top .backp span {
  display: block;
  margin: auto;
  text-transform: uppercase;
}
footer .back_to_top .backp i {
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
footer .footerB .socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
footer .footerB .socials a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
footer .footerB .redirects {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding-bottom: 1rem;
  color: white;
  font-weight: 500;
}
footer .footerB .redirects span:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footerB p {
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 1rem 0;
  padding-top: 0.5rem;
  width: 45%;
  margin: auto;
  border-top: 2px solid white;
}

.sidebar {
  padding-top: 0.8rem;
  width: 300px;
  background: white;
  height: 100%;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sidebar .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.sidebar .upper .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: white;
  padding: 0.8rem;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sidebar .upper .search {
  width: 85%;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  gap: 0.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.sidebar .upper .search i {
  color: rgba(0, 0, 0, 0.712);
}
.sidebar .upper .search input {
  width: 90%;
  outline: 0;
  border: 0;
  background: none;
  font-size: 1rem;
}
.sidebar .upper .search input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 100;
}
.sidebar .upper .search input::placeholder {
  color: rgba(0, 0, 0, 0.712);
  font-weight: 100;
}
.sidebar .socials {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
  z-index: 10;
  padding: 1rem;
}
.sidebar .socials a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}
.sidebar .nav_right {
  padding: 1rem 0.5rem;
  gap: 1rem;
}
.sidebar .nav_right a {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: start;
  color: black;
  font-size: 1.1rem;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 5px;
  width: 85%;
  margin-bottom: 0.5rem;
}
.sidebar .nav_right .sign_in span {
  display: block;
  font-weight: 300;
}
.sidebar .nav_right .cart_link {
  position: relative;
}
.sidebar .nav_right .cart_link .total_cart {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 7px;
  background-color: #10a2af;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -14px;
  left: -11px;
}
.sidebar .nav_right .cart_link .total_cart i {
  margin: auto;
}

.visible {
  transform: translateX(0);
}

.card {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem 0.5rem;
  gap: 0.5rem;
  position: fixed;
  bottom: 0;
}

.socialContainer {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}

/* instagram*/
.containerOne:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}

/* twitter*/
.containerTwo:hover {
  background-color: #00acee;
  transition-duration: 0.3s;
}

/* linkdin*/
.containerThree:hover {
  background-color: #0072b1;
  transition-duration: 0.3s;
}

/* Whatsapp*/
.containerFour:hover {
  background-color: #128c7e;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */